<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">
	function setJid(txt)
	{
		document.book.jid.value = txt;
		select.selectedIndex = index;
	}

	function setStid(txt)
	{
		document.book.stid.value = txt;
		select.selectedIndex = index;
	}

	function setAgid(txt)
	{
		document.book.agid.value = txt;
		select.selectedIndex = index;
	}

	function setSlid(txt)
	{
		document.book.slid.value = txt;
		select.selectedIndex = index;
	}

	function setUid(txt)
	{
		document.book.uid.value = txt;
		select.selectedIndex = index;
	}

	function setFlgid(txt)
	{
		document.book.flgid.value = txt;
		select.selectedIndex = index;
	}

	function setCoid(txt)
	{
		document.book.coid.value = txt;
		select.selectedIndex = index;
	}

	function setTid(txt)
	{
		document.book.tid.value = txt;
		select.selectedIndex = index;
	}

	function setFiid(txt)
	{
		document.book.fiid.value = txt;
		select.selectedIndex = index;
	}

	function setPid(txt)
	{
		document.book.pid.value = txt;
		select.selectedIndex = index;
	}

	function setCid(txt)
	{
		document.book.cid.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>日報 編集</h1>
		</div>

		<form th:action="@{/book/{id}/edit(id=*{id})}" th:method="post"
			th:object="${book}" id="book" name="book">

			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 日時<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="date" name="today" id="today"
							th:field="*{recorddate}" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 種類<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="t_id" th:field="*{tid}" /><select
							id="type" onChange="setTid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="typelists : ${typelist}"
								th:value="${typelists.id}"
								th:selected="${typelists.id}==${book.tid}">[[${typelists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 工場<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pid" th:field="*{pid}" /> <select
							id="plant" onChange="setPid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="plantlists : ${plantlist}"
								th:value="${plantlists.id}"
								th:selected="${plantlists.id}==${book.pid}">[[${plantlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 仕訳<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="jid" th:field="*{jid}" /> <select
							id="journal" onChange="setJid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="journallists : ${journallist}"
								th:value="${journallists.id}"
								th:selected="${journallists.id}==${book.jid}">[[${journallists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 施工者<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="cid" th:field="*{cid}" /> <select
							id="company" onChange="setCid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}"
								th:selected="${companylists.id}==${book.cid}">[[${companylists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 現場名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="fiid" th:field="*{fiid}" /> <select
							id="field" onChange="setFi_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}"
								th:selected="${fieldlists.id}==${book.fiid}">[[${fieldlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 呼び強度<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="stid" th:field="*{stid}" /> <select
							id="strength" onChange="setStid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="strengthlists : ${strengthlist}"
								th:value="${strengthlists.id}"
								th:selected="${strengthlists.id}==${book.stid}">[[${strengthlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 骨材<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="agid" th:field="*{agid}" /> <select
							id="aggregate"
							onChange="setAgid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="aggregatelists : ${aggregatelist}"
								th:value="${aggregatelists.id}"
								th:selected="${aggregatelists.id}==${book.agid}">[[${aggregatelists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> スランプ<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="slid" th:field="*{slid}" /> <select
							id="slump" onChange="setSlid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="slumplists : ${slumplist}"
								th:value="${slumplists.id}"
								th:selected="${slumplists.id}==${book.slid}">[[${slumplists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 比率<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="coid" th:field="*{coid}" /> <select
							id="composition"
							onChange="setCoid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="compositionlists : ${compositionlist}"
								th:value="${compositionlists.id}"
								th:selected="${compositionlists.id}==${book.coid}">[[${compositionlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 数量<span class="badge
					badge-danger">必須</span>
				</label>
				<div class="col-sm-9">
					<p>
						<input type="text" th:field="*{quantity}" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 単位<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="uid" th:field="*{uid}" /> <select
							id="unit" onChange="setUid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="unitlists : ${unitlist}"
								th:value="${unitlists.id}"
								th:selected="${unitlists.id}==${book.uid}">[[${unitlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 可／否<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
					<input
					type="hidden" name="flgid" th:field="*{flgid}" /> <select
					id="flg" onChange="setFlg_id(this[this.selectedIndex].value)">
						<option th:each="flglists : ${flglist}" th:value="${flglists.id}"
							th:selected="${flglists.id}==${book.flgid}">[[${flglists.value}]]</option>
				</select>
					</p>
			</div>
	</div>
	<div class="form-row">
		<div class="col-sm-9">
			<p>
				<button type="submit" class="btn btn-warning">更新</button>
			</p>
		</div>
	</div>
	<div class="form-row">
		<div class="col-sm-9">
			<p>
				<a href="/book" class="btn btn-info">一覧画面へ</a>
			</p>
		</div>
	</div>
	</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
	<script>
		var forms = document.getElementsByClassNamed("form-control");
		var alerts = document.getElementsByClassName("alert");
		for (var i = 0; i < forms.length; i++) {
			forms[i].addEventListener("focus", function() {
				for (var j = 0; j < alerts.length; j++) {
					alerts[j].style.display = "none";
				}
			});
		}
		</script>
</body>
</html>