<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<h1 class="my-3 ml-3">日報 新規入力</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>日付</th>
					<th>種類</th>
					<th>工場</th>
					<th>仕訳</th>
					<th>施工者</th>
					<th>現場名</th>
					<th>呼び強度</th>
					<th>骨材</th>
					<th>スランプ</th>
					<th>比率</th>
					<th>数量</th>
					<th>単位</th>
					<th>可／否</th>
				</tr>
			</thead>
			<tbody>

				<form th:action="@{/book}" th:method="post">

					日付<input type="text" name="record_date" />
					種類<input type="text" name="t_id" />
					工場<input type="text" name="p_id" />
					仕訳<input type="text" name="j_id" />
					施工者<input type="text" name="c_id" />
					現場名<input type="text" name="fi_id" />
					呼び強度<input type="text" name="st_id" />
					骨材<input type="text" name="ag_id" />
					スランプ<input type="text" name="sl_id" />
					比率<input type="text" name="co_id" />
					数量<input type="text" name="quantity" />
					単位<input type="text" name="u_id" />
					可／否<input type="text" name="flg_id" />

					<input type="submit"
						class="btn btn-warning" value="作成" />

				</form>
				<p>
					<a href="/book" class="btn btn-info">一覧画面へ</a>
				</p>
			</tbody>
		</table>
</body>
</html>