<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<style>
.select-wrapper {
	width: 200px;
	overflow: hidden;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	border: 0;
	outline: none;
	padding: 0;
	background: transparent;
}
</style>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<h1 class="my-3 ml-3">日報</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>日付</th>
					<th>仕訳</th>
					<th>工場</th>
					<th>種類</th>
					<th>施工者</th>
					<th>現場名</th>
					<th>呼び強度</th>
					<th>骨材</th>
					<th>スランプ</th>
					<th>比率</th>
					<th>数量</th>
					<th>単位</th>
					<th>可／否</th>
					<th><a href="/book/bookNew" class="btn btn-primary">新規作成</a></th>
					<th><a href="/" class="btn btn-info">メニュー</a></th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="book : ${books}" th:object="${book}">
					<td th:text="*{id}"></td>
					<td th:text="*{recorddate}"></td>
					<td><select id="tid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="typelists : ${typelist}"
								th:value="${typelists.id}"
								th:selected="${typelists.id} == *{tid}">[[${typelists.value}]]</option>
					</select></td>
					<td><select id="pid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="plantlists : ${plantlist}"
								th:value="${plantlists.id}"
								th:selected="${plantlists.id} == *{pid}">[[${plantlists.name}]]</option>
					</select></td>
					<td><select id="jid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="journallists : ${journallist}"
								th:value="${journallists.id}"
								th:selected="${journallists.id} == *{jid}">[[${journallists.name}]]</option>
					</select></td>
					<td><select id="cid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}"
								th:selected="${companylists.id} == *{cid}">[[${companylists.name}]]</option>
					</select></td>
					<td><select id="fiid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}"
								th:selected="${fieldlists.id} == *{fiid}">[[${fieldlists.name}]]</option>
					</select></td>
					<td><select id="stid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="strengthlists : ${strengthlist}"
								th:value="${strengthlists.id}"
								th:selected="${strengthlists.id} == *{stid}">[[${strengthlists.value}]]</option>
					</select></td>
					<td><select id="agid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="aggregatelists : ${aggregatelist}"
								th:value="${aggregatelists.id}"
								th:selected="${aggregatelists.id} == *{agid}">[[${aggregatelists.value}]]</option>
					</select></td>
					<td><select id="slid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="slumplists : ${slumplist}"
								th:value="${slumplists.id}"
								th:selected="${slumplists.id} == *{slid}">[[${slumplists.value}]]</option>
					</select></td>
					<td><select id="coid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="compositionlists : ${compositionlist}"
								th:value="${compositionlists.id}"
								th:selected="${compositionlists.id} == *{coid}">[[${compositionlists.value}]]</option>
					</select></td>
					<td th:text="*{quantity}"></td>
					<td><select id="uid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="unitlists : ${unitlist}"
								th:value="${unitlists.id}"
								th:selected="${unitlists.id} == *{uid}">[[${unitlists.value}]]</option>
					</select></td>
					<td><select id="flgid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="flglists : ${flglist}" th:value="${flglists.id}"
								th:selected="${flglists.id} == *{flgid}">[[${flglists.value}]]</option>
					</select></td>

					<td><a th:href="@{/book/{id}/edit(id=*{id})}"
						class="btn btn-primary">編集</a></td>
					<td>
						<form th:action="@{/book/{id}(id=*{id})}" th:method="post"
							onSubmit="return delcheck()">
							<input type="submit" class="btn btn-danger" value="削除" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/" class="btn btn-info">メニュー</a> <span> <a
			href="/book/bookNew" class="btn btn-primary">新規作成</a>
		</span>
		</tbody>
		</table>

		<!-- jqueryの場合 -->

		<script>
			//formタグにサブミット時イベントを設定

			$('form').submit(function(event) {

				// 確認メッセージ表示
				// 戻り値を変数resultに代入(trueまたはfalse)
				var result = window.confirm('本当に削除してよろしいですか？');

				// キャンセルボタンが押された場合
				if (result == false) {

					// サブミットを中止する
					return false;
				}
			});
		</script>

		<!-- javascriptの場合

		<script type="text/javascript">

		function delcheck() {

			if (window.confirm('削除してよろしいですか？')) { // 確認ダイアログを表示

				return true; // 「OK」時は送信を実行

			} else { // 「キャンセル」時の処理

				window.alert('キャンセルされました'); // 警告ダイアログを表示
				return false; // 送信を中止

			}
		}

	</script> -->
</body>
</html>