<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menu page</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</link>
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<h1 class="my-3 ml-3">Menu</h1>


	<div class="row justify-content-center">

		<div class="row">

				<div class="my-3">
					<a href="/strength/strengthIndex" th:href="@{/strength}" class="btn btn-primary btn-lg">呼び強度マスタ</a>
						<a href="/aggregate/aggregateIndex" th:href="@{/aggregate}" class="btn btn-primary btn-lg">骨材寸法マスタ</a>
						<a	href="/slump/slumpIndex" th:href="@{/slump}" class="btn btn-primary btn-lg">スランプマスタ</a>
						<a	href="/composition/compositionIndex" th:href="@{/composition}" class="btn btn-primary btn-lg">構成マスタ</a>
					<br><br>
						<a	href="/company/companyIndex" th:href="@{/company}"	class="btn btn-primary btn-lg">施工者マスタ</a>
						<a	href="/field/fieldIndex" th:href="@{/field}" class="btn btn-primary btn-lg">現場マスタ</a>
						<a	href="/plant/plantIndex" th:href="@{/plant}" class="btn btn-primary btn-lg">工場マスタ</a>
					<br><br>
						<a	href="/journal/journalIndex" th:href="@{/journal}" class="btn btn-primary btn-lg">製品マスタ</a>
						<a	href="/typet/typeIndex" th:href="@{/type}" class="btn btn-primary btn-lg">仕訳マスタ</a>
					<br><br>
						<a href="/unit/unitIndex" th:href="@{/unit}" class="btn btn-primary btn-lg">単位マスタ</a>
						<a	href="/flg/flgIndex" th:href="@{/flg}" class="btn btn-primary btn-lg">フラグマスタ</a>
						<a	href="/product_name/product_nameIndex" th:href="@{/product_name}" class="btn btn-primary btn-lg">製品マスタ</a>
						<a	href="/product_master/product_masterIndex" th:href="@{/product_master}" class="btn btn-primary btn-lg">製品構成マスタ</a>
						<a	href="/price_list/price_listIndex" th:href="@{/price_list}" class="btn btn-primary btn-lg">製品単価マスタ</a>
					<br><br>
					    <a href="/book/bookIndex" th:href="@{/book}" class="btn btn-primary btn-lg">日報</a>
					    <a href="/production_daily_report/production_daily_reportIndex" th:href="@{/production_daily_report}" class="btn btn-primary btn-lg">売掛</a>
					<br><br>
						<a
						href="/printIndex/printIndex" th:href="@{/printIndex}"
						class="btn btn-primary btn-lg">印刷メニュー</a>
				</div>
		</div>
	</div>
</body>
</html>