<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menu page</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<h1 class="my-3 ml-3">Menu</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>種別</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><a href="/strength/strengthIndex" th:href="@{/strength}"
						class="btn btn-primary">呼び強度</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="/aggregate/aggregateIndex"
						th:href="@{/aggregate}" class="btn btn-primary">骨材寸法</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td><a href="/slump/slumpIndex" th:href="@{/slump}"
						class="btn btn-primary">スランプ</a></td>
				</tr>
				<tr>
					<td>4</td>
					<td><a href="/company/companyIndex" th:href="@{/company}"
						class="btn btn-primary">施 工 者</a></td>
				</tr>
				<tr>
					<td>5</td>
					<td><a href="/field/fieldIndex" th:href="@{/field}"
						class="btn btn-primary">現 場</a></td>
				</tr>
				<tr>
					<td>6</td>
					<td><a href="/composition/compositionIndex"
						th:href="@{/composition}" class="btn btn-primary">構 成</a></td>
				</tr>
				<tr>
					<td>7</td>
					<td><a href="/journal/journalIndex" th:href="@{/journal}"
						class="btn btn-primary">製 品</a></td>
				</tr>
				<tr>
					<td>8</td>
					<td><a href="/plant/plantIndex" th:href="@{/plant}"
						class="btn btn-primary">工 場</a></td>
				</tr>
				<tr>
					<td>9</td>
					<td><a href="/typet/typeIndex" th:href="@{/type}"
						class="btn btn-primary">仕 訳</a></td>
				</tr>
				<tr>
					<td>10</td>
					<td><a href="/unit/unitIndex" th:href="@{/unit}"
						class="btn btn-primary">単 位</a></td>
				</tr>
				<tr>
					<td>11</td>
					<td><a href="/flg/flgIndex" th:href="@{/flg}"
						class="btn btn-primary">フラグ</a></td>
				</tr>
				<tr>
					<td>12</td>
					<td><a href="/flg/product_nameIndex" th:href="@{/product_name}"
						class="btn btn-primary">製品</a></td>
				</tr>
				<tr>
					<td>13</td>
					<td><a href="/flg/product_masterIndex" th:href="@{/product_master}"
						class="btn btn-primary">製品構成</a></td>
				</tr>
				<tr>
					<td>14</td>
					<td><a href="/book/bookIndex" th:href="@{/book}"
						class="btn btn-primary">日報</a></td>
				</tr>
			</tbody>
		</table>
</body>
</html>