<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">

	function setPid(txt)
	{
		document.production_daily_report.pid.value = txt;
		select.selectedIndex = index;
	}

	function setCoid(txt)
	{
		document.production_daily_report.coid.value = txt;
		select.selectedIndex = index;
	}

	function setFiid(txt)
	{
		document.production_daily_report.fiid.value = txt;
		select.selectedIndex = index;
	}

	function setPnid(txt)
	{
		document.production_daily_report.pnid.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>日報 編集</h1>
		</div>

		<form th:action="@{/production_daily_report/{id}/edit(id=*{pdrid})}"
			th:method="post" th:object="${production_daily_reportlist}"
			id="production_daily_report" name="production_daily_report">
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> ID<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="pdrid" th:field="*{pdrid}" disabled/>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 工場名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pid" th:field="*{pid}" /> <select
							id="plant" onChange="setPid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="plantlists : ${plantlist}"
								th:value="${plantlists.id}"
								th:selected="${plantlists.id}==${production_daily_reportlist.pid}">[[${plantlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 施工者<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="coid" th:field="*{coid}" /> <select
							id="company" onChange="setCoid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}"
								th:selected="${companylists.id}==${production_daily_reportlist.coid}">[[${companylists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 現場名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="fiid" th:field="*{fiid}" /> <select
							id="field" onChange="setFiid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}"
								th:selected="${fieldlists.id}==${production_daily_reportlist.fiid}">[[${fieldlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">製品名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pnid" th:field="*{pnid}"/><select id="product_name"
							onChange="setPnid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="product_name_viewlists : ${product_name_viewlist}"
								th:value="${product_name_viewlists.pnid}"
								th:selected="${product_name_viewlists.pnid}==${production_daily_reportlist.pnid}">[[${product_name_viewlists.name}]]
							</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 数量<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="quantity" th:field="*{quantity}" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 記録日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="date" name="today" id="today"
							th:field="*{recorddate}" />
					</p>
				</div>
			</div>


			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<button type="submit" class="btn btn-warning">更新</button>
					</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<a href="/production_daily_report" class="btn btn-info">一覧画面へ</a>
					</p>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
	</script>
	<script>
		var forms = document.getElementsByClassNamed("form-control");
		var alerts = document.getElementsByClassName("alert");
		for (var i = 0; i < forms.length; i++) {
			forms[i].addEventListener("focus", function() {
				for (var j = 0; j < alerts.length; j++) {
					alerts[j].style.display = "none";
				}
			});
		}
	</script>
</body>
</html>