<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link href="/css/style.css" rel="stylesheet"></link>

</head>
<body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<h1 class="my-3 ml-3">製品登録</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>製品名</th>
					<th>呼び強度</th>
					<th>骨材寸法</th>
					<th>スランプ</th>
					<th>代行試験</th>
					<th>商品売上</th>
					<th>ポンプ</th>
					<th>割増</th>
					<th>加算</th>
					<th>単位</th>
					<th>適用開始日</th>
					<th>適用終了日</th>
					<th>可／否</th>
					<th>記録日</th>
					<th><a href="/product_name/product_nameNew"
						class="btn btn-primary">新規作成</a></th>
					<th><a href="/" class="btn btn-info">メニュー</a></th>
					<th><input type="button" onclick="pagedown();" value="最下部へ" class="btn btn-info"></th>

				</tr>
			</thead>

			<tbody>

				<tr th:each="product_name : ${product_names}"
					th:object="${product_name}">
					<td th:text="*{pnid}"></td>
					<td><select id="journal" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="journallists : ${journallist}"
								th:value="${journallists.id}"
								th:selected="${journallists.id} == *{jid}">[[${journallists.name}]]</option>
					</select></td>
					<td><select id="strength" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="strengthlists : ${strengthlist}"
								th:value="${strengthlists.id}"
								th:selected="${strengthlists.id} == *{stid}">[[${strengthlists.value}]]</option>
					</select></td>
					<td><select id="aggregate" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="aggregatelists : ${aggregatelist}"
								th:value="${aggregatelists.id}"
								th:selected="${aggregatelists.id} == *{agid}">[[${aggregatelists.value}]]</option>
					</select></td>
					<td><select id="slump" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="slumplists : ${slumplist}"
								th:value="${slumplists.id}"
								th:selected="${slumplists.id} == *{slid}">[[${slumplists.value}]]</option>
					</select></td>
					<td><select id="proxy_test" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="proxy_testlists : ${proxy_testlist}"
								th:value="${proxy_testlists.id}"
								th:selected="${proxy_testlists.id} == *{ptid}">[[${proxy_testlists.name}]]</option>
					</select></td>
					<td><select id="product_sales" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="product_saleslists : ${product_saleslist}"
								th:value="${product_saleslists.id}"
								th:selected="${product_saleslists.id} == *{psid}">[[${product_saleslists.name}]]</option>
					</select></td>
					<td><select id="extra_charge" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="extra_chargelists : ${extra_chargelist}"
								th:value="${extra_chargelists.id}"
								th:selected="${extra_chargelists.id} == *{ecid}">[[${extra_chargelists.name}]]</option>
					</select></td>
					<td><select id="other_charge" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="other_chargelists : ${other_chargelist}"
								th:value="${other_chargelists.id}"
								th:selected="${other_chargelists.id} == *{ocid}">[[${other_chargelists.name}]]</option>
					</select></td>
					<td><select id="pump" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="pumplists : ${pumplist}"
								th:value="${pumplists.id}"
								th:selected="${pumplists.id} == *{puid}">[[${pumplists.name}]]</option>
					</select></td>
					<td><select id="unit" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="unitlists : ${unitlist}"
								th:value="${unitlists.id}"
								th:selected="${unitlists.id} == *{uid}">[[${unitlists.value}]]</option>
					</select></td>
					<td th:text="*{startdate}"></td>
					<td th:text="*{enddate}"></td>
					<!-- <td th:text="*{flgid}"></td> -->
					<td><select id="flg_id" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="flglists : ${flglist}" th:value="${flglists.id}"
								th:selected="${flglists.id} == *{flgid}">[[${flglists.value}]]</option>
					</select></td>
					<td th:text="*{createat}"></td>

					<td><a th:href="@{/product_name/{id}/edit(id=*{pnid})}"
						class="btn btn-primary">編集</a></td>
					<td>
						<form th:action="@{/product_name/{id}(id=*{pnid})}"
							th:method="post" onSubmit="return delcheck()">
							<input type="submit" class="btn btn-danger" value="削除" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="button" onclick="history.back()" class="btn btn-info">戻る</button>
		<button type="button" onclick="pageup();" class="btn btn-info">TOPへ</button>
		<a href="/" class="btn btn-info">メニュー</a> <span> <a
			href="/product_name/product_nameNew" class="btn btn-primary">新規作成</a>
		</span>

		<script>
		function pagedown(){
		  var a = document.documentElement;
		  var y = a.scrollHeight - a.clientHeight;
		  window.scroll(0, y);
		}

		function pageup(){
			 scrollTo(0, 0);
		}
		</script>

		<!-- jqueryの場合 -->
		<script>
			//formタグにサブミット時イベントを設定

			$('form').submit(function(event) {

				// 確認メッセージ表示
				// 戻り値を変数resultに代入(trueまたはfalse)
				var result = window.confirm('本当に削除してよろしいですか？');

				// キャンセルボタンが押された場合
				if (result == false) {

					// サブミットを中止する
					return false;
				}
			});
		</script>

		<!-- javascriptの場合

		<script type="text/javascript">

		function delcheck() {

			if (window.confirm('削除してよろしいですか？')) { // 確認ダイアログを表示

				return true; // 「OK」時は送信を実行

			} else { // 「キャンセル」時の処理

				window.alert('キャンセルされました'); // 警告ダイアログを表示
				return false; // 送信を中止

			}
		}

	</script> -->
</body>
</html>