<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">

	function setPnid(txt)
	{
		document.product_name.pnid.value = txt;
		select.selectedIndex = index;
	}

	function setJid(txt)
	{
		document.product_name.jid.value = txt;
		select.selectedIndex = index;
	}

	function setStid(txt)
	{
		document.product_name.stid.value = txt;
		select.selectedIndex = index;
	}

	function setAgid(txt)
	{
		document.product_name.agid.value = txt;
		select.selectedIndex = index;
	}

	function setSlid(txt)
	{
		document.product_name.slid.value = txt;
		select.selectedIndex = index;
	}

	function setUid(txt)
	{
		document.product_name.uid.value = txt;
		select.selectedIndex = index;
	}

	function setFlgid(txt)
	{
		document.product_name.flgid.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>製品 編集</h1>
		</div>

		<form th:action="@{/product_name/{id}/edit(id=*{pnid})}"
			th:method="post" th:object="${product_name}" id="product_name"
			name="product_name">

			<div class="form-row">
				<label class="col-sm-3 col-form-label"> ID<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="pnid" th:field="*{pnid}" disabled/>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 製品名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="jid" th:field="*{jid}" /> <select
							id="journal" onChange="setJid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="journallists : ${journallist}" th:value="${journallists.id}"
								th:selected="${journallists.id}==${product_name.jid}">[[${journallists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 呼び強度<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="stid" th:field="*{stid}" /> <select
							id="strength" onChange="setStid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="strengthlists : ${strengthlist}" th:value="${strengthlists.id}"
								th:selected="${strengthlists.id}==${product_name.stid}">[[${strengthlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 骨材寸法<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="agid" th:field="*{agid}" /> <select
							id="aggregate" onChange="setAgid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="aggregatelists : ${aggregatelist}" th:value="${aggregatelists.id}"
								th:selected="${aggregatelists.id}==${product_name.agid}">[[${aggregatelists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> スランプ<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="slid" th:field="*{slid}" /> <select
							id="slump" onChange="setSlid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="slumplists : ${slumplist}" th:value="${slumplists.id}"
								th:selected="${slumplists.id}==${product_name.slid}">[[${slumplists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 単位<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="uid" th:field="*{uid}" /> <select
							id="unit" onChange="setUid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="unitlists : ${unitlist}" th:value="${unitlists.id}"
								th:selected="${unitlists.id}==${product_name.uid}">[[${unitlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 適用開始日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="date" name="startdate" id="today"
							th:field="*{startdate}" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 適用終了日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="date" name="enddate" id="today"
							th:field="*{enddate}" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 可／否<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="flgid" th:field="*{flgid}" /> <select
							id="flg" onChange="setFlgid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="flglists : ${flglist}" th:value="${flglists.id}"
								th:selected="${flglists.id}==${product_name.flgid}">[[${flglists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> タイムスタンプ<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="createat" th:field="*{createat}" disabled/>
					</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<button type="submit" class="btn btn-warning">更新</button>
					</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<a href="/product_name" class="btn btn-info">一覧画面へ</a>
					</p>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
	<script>
		var forms = document.getElementsByClassNamed("form-control");
		var alerts = document.getElementsByClassName("alert");
		for (var i = 0; i < forms.length; i++) {
			forms[i].addEventListener("focus", function() {
				for (var j = 0; j < alerts.length; j++) {
					alerts[j].style.display = "none";
				}
			});
		}
		</script>
</body>
</html>