<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">

	function setPid(txt)
	{
		document.production_daily_report.pid.value = txt;
		select.selectedIndex = index;
	}

	function setCoid(txt)
	{
		document.production_daily_report.coid.value = txt;
		select.selectedIndex = index;
	}

	function setFiid(txt)
	{
		document.production_daily_report.fiid.value = txt;
		select.selectedIndex = index;
	}

	function setPnid(txt)
	{
		document.production_daily_report.pnid.value = txt;
		select.selectedIndex = index;
	}

	function setJid(txt)
	{
		document.production_daily_report.jid.value = txt;
		select.selectedIndex = index;
	}
	function setRecorddate(txt)
	{
		document.production_daily_report.recorddate.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>売掛 新規入力</h1>
		</div>

		<form th:action="@{/production_daily_report}"
			th:object="${production_daily_report}" th:method="post"
			name="production_daily_report">

			<div class="form-row">
				<label class="col-sm-3 col-form-label">工場名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pid" /><select id="plant"
							onChange="setPid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="plantlists : ${plantlist}"
								th:value="${plantlists.id}">[[${plantlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">施工者<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="coid" /><select id="company"
							onChange="setCoid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}">[[${companylists.name}]]
							</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">現場名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="fiid" /><select id="field"
							onChange="setFiid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}">[[${fieldlists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">製品種別<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="jid" /><select id="journal"
							onChange="setJid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="journallists : ${journallist}"
								th:value="${journallists.id}">[[${journallists.name}]]
							</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">製品名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pnid" /><select id="product_name"
							onChange="setPnid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="product_name_viewlists : ${product_name_viewlist}"
								th:value="${product_name_viewlists.pnid}">[[${product_name_viewlists.name}]]
							</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">数量<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="quantity" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">記録日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="recorddate" />

						<!-- 記録日選択ドロップダウン  -->
						<input type="date" name="today"
							onChange="setRecorddate(this.value)" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<input type="submit" class="btn btn-warning" value="作成" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<a href="/production_daily_report" class="btn btn-info">一覧画面へ</a>
					</p>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
</body>
</html>