<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<link href="/css/style.css" rel="stylesheet"></link>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script>
	function setTextspsalesamount(txt)
	{
		document.production_daily_report.Textspsalesamount.value = txt;
		select.selectedIndex = index;
	}
	</script>

	<h1 class="my-3 ml-3">売掛</h1>

	<!-- 選択用ドロップダウンリスト ここから -->
	<form name="search" action="#"
		th:action="@{/production_daily_report/search}"
		th:object="${searchParam}" method="post" onChange="getValue()">
		<div class="container">
			<div class="form-row">
				<div class="col-sm-9">
					<p>
						<label class="col-sm-3 col-form-label">施工者<span
							class="badge badge-danger">選択</span></label> <select
							style="border: black 1px solid; appearance: auto; width: 350px"
							id="coid" name="coid"
							onChange="setCoid(this[this.selectedIndex].value)">
							<option value=""></option>
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}"
								th:selected="${companylists.id} == *{coid}">[[${companylists.name}]]</option>
						</select>
						<a	href="/company/companyIndex" th:href="@{/company}"	class="btn btn-primary btn-sm">施工者マスタ</a>
					</p>
				</div>
				<div class="col-sm-9">
					<p>
						<label class="col-sm-3 col-form-label">現場名<span
							class="badge badge-danger">選択</span></label> <select
							style="border: black 1px solid; appearance: auto; width: 350px"
							id="fiid" name="fiid"
							onChange="setFiid(this[this.selectedIndex].value)">
							<option value=""></option>
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}"
								th:selected="${fieldlists.id} == *{fiid}">[[${fieldlists.number}]] [[${fieldlists.name}]]</option>
						</select>
						<a	href="/field/fieldIndex" th:href="@{/field}" class="btn btn-primary btn-sm">現場マスタ</a>
					</p>
				</div>
				<div class="col-sm-9">
					<p>
						<label class="col-sm-3 col-form-label">開始日<span
							class="badge badge-danger">選択</span></label> <input type="date"
							id="recorddate" name="recorddate" th:field="*{recorddate}" />
							<input type="button" value="クリア" onclick="recorddateClear()" />
					</p>
				</div>

				<div class="col-sm-9">
					<p>
						<label class="col-sm-3 col-form-label">終了日<span
							class="badge badge-danger">選択</span></label> <input type="date"
							id="recorddateEnd" name="recorddateEnd"
							th:field="*{recorddateEnd}" />
							<input type="button" value="クリア" onclick="recorddateEndClear()" />
					</p>
				</div>
				<div class="col-sm-9">
					<p>
						<label class="col-sm-3 col-form-label"><span
							class="badge badge-danger"></span></label> <input type="submit"
							value="実行" />
					</p>
				</div>

			</div>
		</div>
	</form>
	<!-- 選択用ドロップダウンリスト ここまで-->

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>工場</th>
					<th>施工者</th>
					<th>工事番号・現場名</th>
					<th>製品名</th>
					<th>工場渡し</th>
					<th style="text-align:right">数量</th>
					<th>単位</th>
					<th style="text-align:right">単価</th>
					<th style="text-align:right">金額</th>
					<th>記録日</th>
					<th><a
						href="/production_daily_report/production_daily_reportNew"
						class="btn btn-primary">新規作成</a></th>

					<th><a
						th:href="@{'/production_daily_report/production_daily_report_pdf/'
 						 + ${searchParam.coid} + '/'
 						 + ${searchParam.fiid}} + '/'
 						 + ${searchParam.recorddate} + '/'
 						 + ${searchParam.recorddateEnd}"
						class="btn btn-primary" target="_blank">日報印刷 </a></th>
					<th><a href="/" class="btn btn-info">メニュー</a></th>
					<th><button type="button" onclick="pagedown();" class="btn btn-info">最下部へ</button></th>
				</tr>
			</thead>
			<tbody>
				<tr
					th:each="production_daily_report : ${production_daily_reportlist}"
					th:object="${production_daily_report}">
					<td th:text="*{pdrid}"></td>
					<td><select id="pid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="plantlists : ${plantlist}"
								th:value="${plantlists.id}"
								th:selected="${plantlists.id} == *{pid}">[[${plantlists.name}]]</option>
					</select></td>
					<td><select id="coid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="companylists : ${companylist}"
								th:value="${companylists.id}"
								th:selected="${companylists.id} == *{coid}">[[${companylists.name}]]</option>
					</select></td>
					<td><select id="fiid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="fieldlists : ${fieldlist}"
								th:value="${fieldlists.id}"
								th:selected="${fieldlists.id} == *{fiid}">[[${fieldlists.number}]]　[[${fieldlists.name}]]</option>
					</select></td>
					<td><select id="pnid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="product_name_viewlists : ${product_name_viewlist}"
								th:value="${product_name_viewlists.pnid}"
								th:selected="${product_name_viewlists.pnid} == *{pnid}">[[${product_name_viewlists.name}]]</option>
					</select></td>
					<td><select id="pnid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="ex_workslists : ${ex_workslist}"
								th:value="${ex_workslists.id}"
								th:selected="${ex_workslists.id} == *{exid}">[[${ex_workslists.value}]]</option>
					</select></td>
					<td th:text="*{quantity}" style="text-align:right"></td>
					<td><select id="uid" style="pointer-events: none;"
						tabindex="-1">
							<option th:each="product_name_viewlists : ${product_name_viewlist}"
								th:value="${product_name_viewlists.pnid}"
								th:selected="${product_name_viewlists.pnid} == *{pnid}">[[${product_name_viewlists.unit}]]</option>
					</select></td>
					<td><select id="spprice" style="pointer-events: none;" dir="rtl"
						tabindex="-1">
							<option
								th:each="production_daily_report_viewlists : ${production_daily_report_viewlist}"
								th:value="${production_daily_report_viewlists.pdrid}"
								th:selected="${production_daily_report_viewlists.pdrid} == *{pdrid}">[[${production_daily_report_viewlists.spprice}]]</option>
					</select></td>
					<td><select id="spsalesamount" data-group="spsalesamount" style="pointer-events: none;" dir="rtl"
						tabindex="-1">
							<option
								th:each="production_daily_report_viewlists : ${production_daily_report_viewlist}"
								th:value="${production_daily_report_viewlists.pdrid}"
								th:selected="${production_daily_report_viewlists.pdrid} == *{pdrid}">[[${production_daily_report_viewlists.spsalesamount}]]</option>
					</select></td>
					<td th:text="*{recorddate}"></td>

					<td><a
						th:href="@{/production_daily_report/{id}/edit(id=*{pdrid})}"
						class="btn btn-primary">編集</a></td>
					<td>
						<form th:action="@{/production_daily_report/{id}(id=*{pdrid})}"
							th:method="post" onSubmit="return delcheck()">
							<input type="submit" class="btn btn-danger" value="削除" />
						</form>
					</td>
				</tr>
			</tbody>
			<tfoot>
					<tr>
					<tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>小計</th><th></th><th></th></tr>
					<tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>消費税</th><th></th><th></th></tr>
					<tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>合計</th><th></th><th></th></tr>
					</tr>
			</tfoot>
		</table>
		<button type="button" onclick="history.back()" class="btn btn-info">戻る</button>
		<button type="button" onclick="pageup();" class="btn btn-info">TOPへ</button>
		<a href="/" class="btn btn-info">メニュー</a> <span> <a
			href="/production_daily_report/production_daily_reportNew"
			class="btn btn-primary">新規作成</a>
		</span>
		<button onclick="hoge();" type="button" class="btn btn-outline-warning">取得</button>
	</div>
		<script>
		function pagedown(){
		  var a = document.documentElement;
		  var y = a.scrollHeight - a.clientHeight;
		  window.scroll(0, y);
		}

		function pageup(){
			 scrollTo(0, 0);
		}
		</script>

		<!-- jqueryの場合 -->

		<script>
			//formタグにサブミット時イベントを設定

			$('form[name!="search"]').submit(function(event) {

				// 確認メッセージ表示
				// 戻り値を変数resultに代入(trueまたはfalse)
				var result = window.confirm('本当に削除してよろしいですか？');

				// キャンセルボタンが押された場合
				if (result == false) {

					// サブミットを中止する
					return false;
				}
			});

			function recorddateClear() {
				var textForm = document.getElementById("recorddate");
				textForm.value = '';
			}

			function recorddateEndClear() {
				var textForm = document.getElementById("recorddateEnd");
				textForm.value = '';
			}

			</script>

		<!-- javascriptの場合

		<script type="text/javascript">

		function delcheck() {

			if (window.confirm('削除してよろしいですか？')) { // 確認ダイアログを表示

				return true; // 「OK」時は送信を実行

			} else { // 「キャンセル」時の処理

				window.alert('キャンセルされました'); // 警告ダイアログを表示
				return false; // 送信を中止

			}
		}

	</script> -->
</body>
</html>