<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">

	function setJ_id(txt)
	{
		document.product_name.j_id.value = txt;
		select.selectedIndex = index;
	}

	function setSt_id(txt)
	{
		document.product_name.st_id.value = txt;
		select.selectedIndex = index;
	}

	function setAg_id(txt)
	{
		document.product_name.ag_id.value = txt;
		select.selectedIndex = index;
	}

	function setSl_id(txt)
	{
		document.product_name.sl_id.value = txt;
		select.selectedIndex = index;
	}

	function setStart_date(txt)
	{
		document.product_name.start_date.value = txt;
		select.selectedIndex = index;
	}

	function setEnd_date(txt)
	{
		document.product_name.end_date.value = txt;
		select.selectedIndex = index;
	}

	function setFlg_id(txt)
	{
		document.product_name.flg_id.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>製品 新規入力</h1>
		</div>

		<form th:action="@{/product_name}" th:object="${product_name}"
			th:method="post" name="product_name">

			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 製品種別<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="j_id" /> <select id="journal"
							onChange="setJ_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="journallists : ${journallist}"
								th:value="${journallists.id}">[[${journallists.name}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 呼び強度<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="st_id" /> <select id="strength"
							onChange="setSt_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="strengthlists : ${strengthlist}"
								th:value="${strengthlists.id}">[[${strengthlists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> 骨材寸法<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="ag_id" /> <select id="aggregate"
							onChange="setAg_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="aggregatelists : ${aggregatelist}"
								th:value="${aggregatelists.id}">[[${aggregatelists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"> スランプ<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="al_id" /> <select id="slump"
							onChange="setSl_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="slumplists : ${slumplist}"
								th:value="${slumplists.id}">[[${slumplists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">適用開始日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="start_date" />
						<!-- 適用開始日選択ドロップダウン  -->
						<input type="date" name="today"
							onChange="setStart_date(this.value)" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">適用終了日<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="start_date" />
						<!-- 適用終了日選択ドロップダウン  -->
						<input type="date" name="today"
							onChange="setEnd_date(this.value)" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">可／否<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="flg_id" /><select id="flg"
							onChange="setFlg_id(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="flglists : ${flglist}" th:value="${flglists.id}">[[${flglists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
<!-- 			<div class="form-row"> -->
<!-- 				<label class="col-sm-3 col-form-label">タイムスタンプ<span -->
<!-- 					class="badge badge-danger"></span></label> -->
<!-- 				<div class="col-sm-9"> -->
					<p>
						<input type="hidden" name="create_at" />
					</p>
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="form-row">
				<label class="col-sm-3 col-form-label"><span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="submit" class="btn btn-warning" value="作成" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"><span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<a href="/product_name" class="btn btn-info">一覧画面へ</a>
					</p>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
</body>
</html>