<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">

	function setP_id(txt)
	{
		document.production_daily_report.p_id.value = txt;
		select.selectedIndex = index;
	}

	function setCo_id(txt)
	{
		document.production_daily_report.co_id.value = txt;
		select.selectedIndex = index;
	}

	function setFi_id(txt)
	{
		document.production_daily_report.fi_id.value = txt;
		select.selectedIndex = index;
	}

	function setPn_id(txt)
	{
		document.production_daily_report.pn_id.value = txt;
		select.selectedIndex = index;
	}

	function setRecord_date(txt)
	{
		document.production_daily_report.record_date.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<h1 class="my-3 ml-3">売掛 新規入力</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>工場名</th>
					<th>施工者</th>
					<th>現場名</th>
					<th>製品名</th>
					<th>数量</th>
					<th>記録日</th>
				</tr>
			</thead>
			<tbody>

				<form th:action="@{/production_daily_report}" th:object="${production_daily_report}" th:method="post" name="production_daily_report">

					工場名<input type="hidden" name="p_id" /><select
						id="p_id" onChange="setP_id(this[this.selectedIndex].value)">
						<option value="">---</option>
						<option th:each="plantlists : ${plantlist}"
							th:value="${plantlists.id}">[[${plantlists.name}]]
						</option>
					</select>

					施工者<input type="hidden" name="co_id" /><select
						id="co_id" onChange="setCo_id(this[this.selectedIndex].value)">
						<option value="">---</option>
						<option th:each="companylists : ${companylist}"
							th:value="${companylists.id}">[[${companylists.name}]]
						</option>
					</select>

					現場名<input type="hidden" name="fi_id" /><select
						id="fi_id" onChange="setFi_id(this[this.selectedIndex].value)">
						<option value="">---</option>
						<option th:each="fieldlists : ${fieldlist}"
							th:value="${fieldlists.id}">[[${fieldlists.name}]]
						</option>
					</select>

					製品名<input type="hidden" name="pn_id" /><select
						id="pn_id" onChange="setPn_id(this[this.selectedIndex].value)">
						<option value="">---</option>
						<option th:each="product_namelists : ${product_namelist}"
							th:value="${product_namelists.pn_id}">[[${product_namelists.name}]]
						</option>
					</select>


					数量<input type="text" name="quantity" />

 					記録日<input type="hidden" name="record_date" />
					<!-- 記録日選択ドロップダウン  -->
					<input type="date" name="today" onChange="setRecord_date(this.value)" />

					<input type="submit"
						class="btn btn-warning" value="作成" />

				</form>
				<p>
					<a href="/production_daily_report" class="btn btn-info">一覧画面へ</a>
				</p>
			</tbody>
		</table>

		<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
</body>
</html>