<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script language="JavaScript">
	function setPnid(txt)
	{
		document.product_master.pnid.value = txt;
		select.selectedIndex = index;
	}

	function setStartdate(txt)
	{
		document.product_master.startdate.value = txt;
		select.selectedIndex = index;
	}

	function setEnddate(txt)
	{
		document.product_master.enddate.value = txt;
		select.selectedIndex = index;
	}

	function setFlgid(txt)
	{
		document.product_master.flgid.value = txt;
		select.selectedIndex = index;
	}

	</script>

	<div class="container">

		<div class="navbar">
			<h1>製品構成 新規入力</h1>
		</div>

		<form th:action="@{/product_master}" th:object="${product_master}"
			th:method="post" name="product_master">

			<div class="form-row">
				<label class="col-sm-3 col-form-label">製品名<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="pnid" /><select id="product_name"
							onChange="setPnid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="product_namelists : ${product_namelist}"
								th:value="${product_namelists.pnid}">[[${product_namelists.name}]]
							</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">セメント<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="cementadjv" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">砂<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="sandadjv" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">砕石<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="stoneadjv" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">設計単価<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="spprice" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">標準単価<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="stdprice" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">適用開始日<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="startdate" />
						<!-- 適用開始日選択ドロップダウン  -->
						<input type="date" name="today"
							onChange="setStartdate(this.value)" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">適用終了日<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="enddate" />
						<!-- 適用終了日選択ドロップダウン  -->
						適用終了日<input type="date" name="today"
							onChange="setEnddate(this.value)" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">可／否<span
					class="badge badge-danger">必須</span></label>
				<div class="col-sm-9">
					<p>
						<input type="hidden" name="flgid" /><select id="flg"
							onChange="setFlgid(this[this.selectedIndex].value)">
							<option value="">---</option>
							<option th:each="flglists : ${flglist}" th:value="${flglists.id}">[[${flglists.value}]]</option>
						</select>
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label">タイムスタンプ<span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="text" name="createat" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"><span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<input type="submit" class="btn btn-warning" value="作成" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<label class="col-sm-3 col-form-label"><span
					class="badge badge-danger"></span></label>
				<div class="col-sm-9">
					<p>
						<a href="/product_master" class="btn btn-info">一覧画面へ</a>
					</p>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function () {
		    var today = new Date();
		    today.setDate(today.getDate());
		    var yyyy = today.getFullYear();
		    var mm = ("0"+(today.getMonth()+1)).slice(-2);
		    var dd = ("0"+today.getDate()).slice(-2);
		    document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
		}
		</script>
</body>
</html>