<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Slump List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>値</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="slump : ${slumps}" th:object="${slump}">
                <td th:text="*{id}"></td>
                <td th:text="*{value}"></td>
                <td><a th:href="@{/slump/{id}/edit(id=*{id})}">編集</a></td>
                <td>
                    <form th:action="@{/slump/{id}(id=*{id})}" th:method="post">
                        <input type="submit" value="削除" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/slump/slumpNew">新規作成</a>
        <p>
    <a href="/">メニュー</a>
    </p>
</body>
</html>